@font-face {
  font-family: "Cygre";
  font-weight: 400;
  src: url("../fonts/Cygre-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cygre";
  font-weight: 600;
  src: url("../fonts/Cygre-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Cygre";
  font-weight: 700;
  src: url("../fonts/Cygre-Bold.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Cygre", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #1a1a1a;
  background-color: #fcfcfc;
}

a,
button,
input,
textarea {
  font-family: "Cygre", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h2 {
  max-width: 434px;
  padding-left: 40px;
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  text-align: justify;
  color: #146464;
  background: url(../assets/leaf.svg) left top 6px no-repeat;
}
@media (max-width: 768px) {
  .h2 {
    padding-left: 34px;
  }
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding: 9px 29px 11px;
  text-align: justify;
  color: #fcfcfc;
  border: none;
  border-radius: 4px;
  background-color: #1a1a1a;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.button:hover {
  background-color: #146464;
}
.button:active {
  transform: scale(0.98);
  opacity: 0.9;
}
.button_lg {
  font-size: 20px;
  padding: 14px 85px 16px;
}

.header {
  padding: 28px 0 14px;
}
@media (max-width: 768px) {
  .header {
    padding: 19px 0 20px;
  }
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header .container::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -14px;
  height: 2px;
  background-color: #cacaca;
}
@media (max-width: 768px) {
  .header .container::after {
    bottom: -20px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .header__logo-image {
    width: 70px;
  }
}

.first-screen {
  padding: 70px 0 100px;
}
@media (max-width: 768px) {
  .first-screen {
    padding: 13px 0 60px;
  }
}

.faq {
  padding: 80px 0;
  background: url(../assets/faq-bg.svg) top center repeat;
  background-color: #e5e4e0;
}
@media (max-width: 768px) {
  .faq {
    padding: 40px 0;
  }
}

.discover-path {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 30px;
  border-bottom: 2px solid #cacaca;
}
.discover-path__title {
  color: #1a1a1a;
}
.discover-path__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-align: justify;
  color: #1a1a1a;
}
@media (max-width: 768px) {
  .discover-path__text {
    text-align: left;
  }
}
.discover-path__text > b {
  font-weight: 700;
}

.why-our-test {
  padding: 29px 0 30px;
  border-bottom: 2px solid #cacaca;
}
@media (max-width: 768px) {
  .why-our-test {
    padding: 30px 0;
  }
}
.why-our-test__title {
  margin: 0 0 30px;
}
.why-our-test__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}
.why-our-test__list-item {
  padding-left: 39px;
  font-size: 16px;
  line-height: 112%;
  text-align: justify;
  color: #1a1a1a;
  background: url(../assets/star.svg) left top no-repeat;
}
@media (max-width: 768px) {
  .why-our-test__list-item {
    padding-left: 34px;
    text-align: left;
  }
}
.why-our-test__list-item-title {
  font-weight: 700;
}
.why-our-test__list-item-text {
  font-weight: 400;
}
.why-our-test__order {
  text-align: right;
}
.why-our-test__order-button {
  display: inline-block;
  padding: 0;
  padding-right: 34px;
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  color: #146464;
  background: url(../assets/arrow.svg) right center no-repeat;
  transition: opacity ease-in-out 0.1s;
  cursor: pointer;
}
.why-our-test__order-button:hover {
  opacity: 0.8;
}
.why-our-test__order-button:active {
  opacity: 0.6;
}

.how-it-works {
  padding: 30px 0 0;
}
.how-it-works__title {
  margin: 0 0 30px;
}
.how-it-works__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
.how-it-works__list-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.how-it-works__list-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #1a1a1a;
}
.how-it-works__list-item-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.how-it-works__list-item-list-item {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-align: justify;
  color: #1a1a1a;
}
.how-it-works__list-item-list-item::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #1a1a1a;
}
.how-it-works__order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px 30px;
}
@media (max-width: 768px) {
  .how-it-works__order {
    flex-direction: column;
  }
}
.how-it-works__order-price {
  display: flex;
  align-items: baseline;
  gap: 9px;
  line-height: 120%;
  text-align: justify;
  color: #146464;
}
@media (max-width: 768px) {
  .how-it-works__order-price {
    text-align: left;
  }
}
.how-it-works__order-price-value {
  font-weight: 600;
  font-size: 30px;
}
.how-it-works__order-price-currency {
  font-weight: 400;
  font-size: 14px;
}