.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding: 9px 29px 11px;
  text-align: justify;
  color: $white;
  border: none;
  border-radius: 4px;
  background-color: $black;
  transition: all ease-in-out 0.1s;
  cursor: pointer;

  &:hover {
    background-color: $green;
  }

  &:active {
    transform: scale(0.98);
    opacity: 0.9;
  }

  &_lg {
    font-size: 20px;
    padding: 14px 85px 16px;
  }
}
